@reference "tailwindcss";
@reference "../../globals.css";

.container {
  @apply 
    px-2 py-1 rounded-md text-limbus-50 bg-background min-h-8 h-8
    border border-limbus-500
    text-limbus-500
    mb-2
  ;
}

.container :global(.Toastify__close-button),
.container :global(.Toastify__toast-icon) {
  @apply hidden;
}

.toast {
  @apply w-full flex items-center justify-between;
}

.toast h1 {
  @apply text-nowrap truncate;
}

.error {
  @apply !text-danger !border-danger;
}

.actions {
  @apply flex items-center gap-1 shrink-0;
}

.toast button {
  @apply btn;
}

.action {
  @apply text-xs underline underline-offset-2;
}
