@reference "tailwindcss";
@reference "../../globals.css";

.container {
  @apply flex flex-col gap-4;
}

.select {
  @apply relative border-1 border-limbus-600/30 rounded-sm text-limbus-500 w-60;
}

.select select {
  @apply appearance-none outline-none p-1 pr-6 w-full;
}

.select svg {
  @apply absolute right-1 top-1/2 -translate-y-1/2 w-4 h-4 pointer-events-none;
}

.section {
  @apply flex flex-col gap-1;
}

.settings {
  @apply grid grid-cols-1 gap-2;
}

.input {
  @apply appearance-none outline-none p-1 w-48
    border-1 border-limbus-600/30 rounded-sm text-limbus-500;
}

.button {
  @apply p-1 w-8 h-8 btn btn-lg;
}

.labeledButton {
  @apply flex items-center gap-1.5 px-2 py-1 btn btn-lg text-base;
}

.active h2 {
  @apply underline;
}

.files {
  @apply flex gap-2 mt-auto;
}
